h1 {
  margin: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 90px;
  color: rgb(49, 215, 215);
  -webkit-text-stroke: 1px #023047;
}

body {
  background-color: #FFF7AE;
}

input{
  width: 100%;
}

.row{
  margin: 10px 5px;
  justify-content: center;
}

.container{
  text-align: left;
}

button{
  width: 60%;
}

.end{
  text-align: center;
}
